<div class="container">
<form class="formwidth">
    <mat-form-field class="fullwidth">
        <input matInput placeholder="First Name" name="firstname">
    </mat-form-field><br/>
    <mat-form-field class="fullwidth">
        <input matInput placeholder="Last Name" name="lastname">
    </mat-form-field><br/>
    <mat-form-field class="fullwidth">
        <textarea matInput placeholder="Address" name="address"></textarea>
    </mat-form-field><br/>
    <mat-form-field class="fullwidth">
        <input matInput placeholder="City" name="city">
    </mat-form-field><br/>
    <mat-form-field class="fullwidth">
        <input matInput placeholder="State" name="state">
    </mat-form-field><br/>
    <mat-form-field class="fullwidth">
        <input matInput placeholder="gdfhgr">
    </mat-form-field><br/>
    <button type="submit" md-raised-button>Submit</button>
</form>
</div>