<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
                    <label>Name</label><br />
                    <input type="text" class="form-control" fomr formControlName="name"><br />
                    <!-- <span *ngIf="!contactForm.get('name').valid">
                        <p class="text-danger">Please enter you name</p>
                    </span> -->
                    <label>Company Name</label><br />
                    <input type="text" class="form-control" formControlName="companyName"><br />
                    <label>Mobile No</label><br />
                    <input type="text" class="form-control" formControlName="contactNo"><br />
                    <button type="submit" class="btn-success">submit</button>
                </form>
            </div>
            <div class="col-sm-6" >
                <h3>Employee Details</h3>
                <p><span>Name:</span>{{name}}</p><br />
                <p><span>Company Name:</span>{{companyName}}</p><br />
                <p><span>mobile:</span>{{contactNo}}</p><br />
                <p>&#128512;</p>
            </div>
        </div>
    </div>
    
</body>


</html>